<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinsteel.epaike.dao.OrderInfoMapper" >
  <resultMap id="OrderInfo" type="com.xinsteel.epaike.pojo.OrderInfo" >
    <constructor >
      <idArg column="orderId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="orderNo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="purchaseCompanyId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="purchaseCompany" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="productId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="productName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="erpOrderNo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createtime" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="projectNo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="projectName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="projectSchedule" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="productionState" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="productionName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="videoFileName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="videoFileUrl" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="contractApprovalDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="deliveryTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="contractFileName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="contractImageContent" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="rawMaterialTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="planBeginTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="planEndTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="plannedStartTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="plannedEndTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="actualStartTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="actualEndTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="inspectionType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="inspectionQuantity" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="qualifiedQuantity" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="qualifiedRate" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="nodeCheckFileName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="nodeCheckRecord" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="belaidupStartTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="inspectionReportFileName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="inspectionReport" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="batch" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="acceptanceTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="inspectionData" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="storageQualifiedQuantity" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="storageQualifiedRate" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="logisticsType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="billNo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="transportType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="invoiceFileName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="invoiceNo" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    orderId, orderNo, purchaseCompanyId, purchaseCompany, productId,productName, erpOrderNo, createtime,
    projectNo, projectName, projectSchedule, productionState, productionName, videoFileName, 
    videoFileUrl, contractApprovalDate, deliveryTime, contractFileName, contractImageContent, 
    rawMaterialTime, planBeginTime, planEndTime, plannedStartTime, plannedEndTime, actualStartTime, 
    actualEndTime, inspectionType, inspectionQuantity, qualifiedQuantity, qualifiedRate, 
    nodeCheckFileName, nodeCheckRecord, belaidupStartTime, inspectionReportFileName, 
    inspectionReport, batch, acceptanceTime, inspectionData, storageQualifiedQuantity, 
    storageQualifiedRate, logisticsType, billNo, transportType, invoiceFileName, invoiceNo
  </sql>
  <select id="selectByPrimaryKey" resultMap="OrderInfo" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from orderinfo
    where orderId = #{orderid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from orderinfo
    where orderId = #{orderid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xinsteel.epaike.pojo.OrderInfo" >
    insert into orderinfo (orderId, orderNo, purchaseCompanyId, 
      purchaseCompany, productId, productName,erpOrderNo,
      createtime, projectNo, projectName, 
      projectSchedule, productionState, productionName, 
      videoFileName, videoFileUrl, contractApprovalDate, 
      deliveryTime, contractFileName, contractImageContent, 
      rawMaterialTime, planBeginTime, planEndTime, 
      plannedStartTime, plannedEndTime, actualStartTime, 
      actualEndTime, inspectionType, inspectionQuantity, 
      qualifiedQuantity, qualifiedRate, nodeCheckFileName, 
      nodeCheckRecord, belaidupStartTime, inspectionReportFileName, 
      inspectionReport, batch, acceptanceTime, 
      inspectionData, storageQualifiedQuantity, 
      storageQualifiedRate, logisticsType, billNo, 
      transportType, invoiceFileName, invoiceNo
      )
    values (#{orderid,jdbcType=VARCHAR}, #{orderno,jdbcType=VARCHAR}, #{purchasecompanyid,jdbcType=BIGINT}, 
      #{purchasecompany,jdbcType=VARCHAR}, #{productid,jdbcType=BIGINT}, #{productname,jdbcType=VARCHAR}, #{erporderno,jdbcType=VARCHAR},
      #{createtime,jdbcType=VARCHAR}, #{projectno,jdbcType=VARCHAR}, #{projectname,jdbcType=VARCHAR}, 
      #{projectschedule,jdbcType=INTEGER}, #{productionstate,jdbcType=VARCHAR}, #{productionname,jdbcType=VARCHAR}, 
      #{videofilename,jdbcType=VARCHAR}, #{videofileurl,jdbcType=VARCHAR}, #{contractapprovaldate,jdbcType=TIMESTAMP}, 
      #{deliverytime,jdbcType=TIMESTAMP}, #{contractfilename,jdbcType=VARCHAR}, #{contractimagecontent,jdbcType=VARCHAR}, 
      #{rawmaterialtime,jdbcType=TIMESTAMP}, #{planbegintime,jdbcType=TIMESTAMP}, #{planendtime,jdbcType=TIMESTAMP}, 
      #{plannedstarttime,jdbcType=TIMESTAMP}, #{plannedendtime,jdbcType=TIMESTAMP}, #{actualstarttime,jdbcType=TIMESTAMP}, 
      #{actualendtime,jdbcType=TIMESTAMP}, #{inspectiontype,jdbcType=VARCHAR}, #{inspectionquantity,jdbcType=DECIMAL}, 
      #{qualifiedquantity,jdbcType=DECIMAL}, #{qualifiedrate,jdbcType=DECIMAL}, #{nodecheckfilename,jdbcType=VARCHAR}, 
      #{nodecheckrecord,jdbcType=VARCHAR}, #{belaidupstarttime,jdbcType=TIMESTAMP}, #{inspectionreportfilename,jdbcType=VARCHAR}, 
      #{inspectionreport,jdbcType=VARCHAR}, #{batch,jdbcType=VARCHAR}, #{acceptancetime,jdbcType=TIMESTAMP}, 
      #{inspectiondata,jdbcType=DECIMAL}, #{storagequalifiedquantity,jdbcType=DECIMAL}, 
      #{storagequalifiedrate,jdbcType=DECIMAL}, #{logisticstype,jdbcType=VARCHAR}, #{billno,jdbcType=VARCHAR}, 
      #{transporttype,jdbcType=VARCHAR}, #{invoicefilename,jdbcType=VARCHAR}, #{invoiceno,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xinsteel.epaike.pojo.OrderInfo" >
    insert into orderinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="orderno != null" >
        orderNo,
      </if>
      <if test="purchasecompanyid != null" >
        purchaseCompanyId,
      </if>
      <if test="purchasecompany != null" >
        purchaseCompany,
      </if>
      <if test="productid != null" >
        productId,
      </if>
      <if test="productname != null" >
        productName,
      </if>
      <if test="erporderno != null" >
        erpOrderNo,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="projectno != null" >
        projectNo,
      </if>
      <if test="projectname != null" >
        projectName,
      </if>
      <if test="projectschedule != null" >
        projectSchedule,
      </if>
      <if test="productionstate != null" >
        productionState,
      </if>
      <if test="productionname != null" >
        productionName,
      </if>
      <if test="videofilename != null" >
        videoFileName,
      </if>
      <if test="videofileurl != null" >
        videoFileUrl,
      </if>
      <if test="contractapprovaldate != null" >
        contractApprovalDate,
      </if>
      <if test="deliverytime != null" >
        deliveryTime,
      </if>
      <if test="contractfilename != null" >
        contractFileName,
      </if>
      <if test="contractimagecontent != null" >
        contractImageContent,
      </if>
      <if test="rawmaterialtime != null" >
        rawMaterialTime,
      </if>
      <if test="planbegintime != null" >
        planBeginTime,
      </if>
      <if test="planendtime != null" >
        planEndTime,
      </if>
      <if test="plannedstarttime != null" >
        plannedStartTime,
      </if>
      <if test="plannedendtime != null" >
        plannedEndTime,
      </if>
      <if test="actualstarttime != null" >
        actualStartTime,
      </if>
      <if test="actualendtime != null" >
        actualEndTime,
      </if>
      <if test="inspectiontype != null" >
        inspectionType,
      </if>
      <if test="inspectionquantity != null" >
        inspectionQuantity,
      </if>
      <if test="qualifiedquantity != null" >
        qualifiedQuantity,
      </if>
      <if test="qualifiedrate != null" >
        qualifiedRate,
      </if>
      <if test="nodecheckfilename != null" >
        nodeCheckFileName,
      </if>
      <if test="nodecheckrecord != null" >
        nodeCheckRecord,
      </if>
      <if test="belaidupstarttime != null" >
        belaidupStartTime,
      </if>
      <if test="inspectionreportfilename != null" >
        inspectionReportFileName,
      </if>
      <if test="inspectionreport != null" >
        inspectionReport,
      </if>
      <if test="batch != null" >
        batch,
      </if>
      <if test="acceptancetime != null" >
        acceptanceTime,
      </if>
      <if test="inspectiondata != null" >
        inspectionData,
      </if>
      <if test="storagequalifiedquantity != null" >
        storageQualifiedQuantity,
      </if>
      <if test="storagequalifiedrate != null" >
        storageQualifiedRate,
      </if>
      <if test="logisticstype != null" >
        logisticsType,
      </if>
      <if test="billno != null" >
        billNo,
      </if>
      <if test="transporttype != null" >
        transportType,
      </if>
      <if test="invoicefilename != null" >
        invoiceFileName,
      </if>
      <if test="invoiceno != null" >
        invoiceNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="purchasecompanyid != null" >
        #{purchasecompanyid,jdbcType=BIGINT},
      </if>
      <if test="purchasecompany != null" >
        #{purchasecompany,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=BIGINT},
      </if>
      <if test="productname != null" >
        #{productname,jdbcType=BIGINT},
      </if>
      <if test="erporderno != null" >
        #{erporderno,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="projectno != null" >
        #{projectno,jdbcType=VARCHAR},
      </if>
      <if test="projectname != null" >
        #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="projectschedule != null" >
        #{projectschedule,jdbcType=INTEGER},
      </if>
      <if test="productionstate != null" >
        #{productionstate,jdbcType=VARCHAR},
      </if>
      <if test="productionname != null" >
        #{productionname,jdbcType=VARCHAR},
      </if>
      <if test="videofilename != null" >
        #{videofilename,jdbcType=VARCHAR},
      </if>
      <if test="videofileurl != null" >
        #{videofileurl,jdbcType=VARCHAR},
      </if>
      <if test="contractapprovaldate != null" >
        #{contractapprovaldate,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverytime != null" >
        #{deliverytime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractfilename != null" >
        #{contractfilename,jdbcType=VARCHAR},
      </if>
      <if test="contractimagecontent != null" >
        #{contractimagecontent,jdbcType=VARCHAR},
      </if>
      <if test="rawmaterialtime != null" >
        #{rawmaterialtime,jdbcType=TIMESTAMP},
      </if>
      <if test="planbegintime != null" >
        #{planbegintime,jdbcType=TIMESTAMP},
      </if>
      <if test="planendtime != null" >
        #{planendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="plannedstarttime != null" >
        #{plannedstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="plannedendtime != null" >
        #{plannedendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualstarttime != null" >
        #{actualstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualendtime != null" >
        #{actualendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="inspectiontype != null" >
        #{inspectiontype,jdbcType=VARCHAR},
      </if>
      <if test="inspectionquantity != null" >
        #{inspectionquantity,jdbcType=DECIMAL},
      </if>
      <if test="qualifiedquantity != null" >
        #{qualifiedquantity,jdbcType=DECIMAL},
      </if>
      <if test="qualifiedrate != null" >
        #{qualifiedrate,jdbcType=DECIMAL},
      </if>
      <if test="nodecheckfilename != null" >
        #{nodecheckfilename,jdbcType=VARCHAR},
      </if>
      <if test="nodecheckrecord != null" >
        #{nodecheckrecord,jdbcType=VARCHAR},
      </if>
      <if test="belaidupstarttime != null" >
        #{belaidupstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="inspectionreportfilename != null" >
        #{inspectionreportfilename,jdbcType=VARCHAR},
      </if>
      <if test="inspectionreport != null" >
        #{inspectionreport,jdbcType=VARCHAR},
      </if>
      <if test="batch != null" >
        #{batch,jdbcType=VARCHAR},
      </if>
      <if test="acceptancetime != null" >
        #{acceptancetime,jdbcType=TIMESTAMP},
      </if>
      <if test="inspectiondata != null" >
        #{inspectiondata,jdbcType=DECIMAL},
      </if>
      <if test="storagequalifiedquantity != null" >
        #{storagequalifiedquantity,jdbcType=DECIMAL},
      </if>
      <if test="storagequalifiedrate != null" >
        #{storagequalifiedrate,jdbcType=DECIMAL},
      </if>
      <if test="logisticstype != null" >
        #{logisticstype,jdbcType=VARCHAR},
      </if>
      <if test="billno != null" >
        #{billno,jdbcType=VARCHAR},
      </if>
      <if test="transporttype != null" >
        #{transporttype,jdbcType=VARCHAR},
      </if>
      <if test="invoicefilename != null" >
        #{invoicefilename,jdbcType=VARCHAR},
      </if>
      <if test="invoiceno != null" >
        #{invoiceno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinsteel.epaike.pojo.OrderInfo" >
    update orderinfo
    <set >
      <if test="orderno != null" >
        orderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="purchasecompanyid != null" >
        purchaseCompanyId = #{purchasecompanyid,jdbcType=BIGINT},
      </if>
      <if test="purchasecompany != null" >
        purchaseCompany = #{purchasecompany,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        productId = #{productid,jdbcType=BIGINT},
      </if>
      <if test="productname != null" >
        productName = #{productname,jdbcType=BIGINT},
      </if>
      <if test="erporderno != null" >
        erpOrderNo = #{erporderno,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="projectno != null" >
        projectNo = #{projectno,jdbcType=VARCHAR},
      </if>
      <if test="projectname != null" >
        projectName = #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="projectschedule != null" >
        projectSchedule = #{projectschedule,jdbcType=INTEGER},
      </if>
      <if test="productionstate != null" >
        productionState = #{productionstate,jdbcType=VARCHAR},
      </if>
      <if test="productionname != null" >
        productionName = #{productionname,jdbcType=VARCHAR},
      </if>
      <if test="videofilename != null" >
        videoFileName = #{videofilename,jdbcType=VARCHAR},
      </if>
      <if test="videofileurl != null" >
        videoFileUrl = #{videofileurl,jdbcType=VARCHAR},
      </if>
      <if test="contractapprovaldate != null" >
        contractApprovalDate = #{contractapprovaldate,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverytime != null" >
        deliveryTime = #{deliverytime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractfilename != null" >
        contractFileName = #{contractfilename,jdbcType=VARCHAR},
      </if>
      <if test="contractimagecontent != null" >
        contractImageContent = #{contractimagecontent,jdbcType=VARCHAR},
      </if>
      <if test="rawmaterialtime != null" >
        rawMaterialTime = #{rawmaterialtime,jdbcType=TIMESTAMP},
      </if>
      <if test="planbegintime != null" >
        planBeginTime = #{planbegintime,jdbcType=TIMESTAMP},
      </if>
      <if test="planendtime != null" >
        planEndTime = #{planendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="plannedstarttime != null" >
        plannedStartTime = #{plannedstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="plannedendtime != null" >
        plannedEndTime = #{plannedendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualstarttime != null" >
        actualStartTime = #{actualstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualendtime != null" >
        actualEndTime = #{actualendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="inspectiontype != null" >
        inspectionType = #{inspectiontype,jdbcType=VARCHAR},
      </if>
      <if test="inspectionquantity != null" >
        inspectionQuantity = #{inspectionquantity,jdbcType=DECIMAL},
      </if>
      <if test="qualifiedquantity != null" >
        qualifiedQuantity = #{qualifiedquantity,jdbcType=DECIMAL},
      </if>
      <if test="qualifiedrate != null" >
        qualifiedRate = #{qualifiedrate,jdbcType=DECIMAL},
      </if>
      <if test="nodecheckfilename != null" >
        nodeCheckFileName = #{nodecheckfilename,jdbcType=VARCHAR},
      </if>
      <if test="nodecheckrecord != null" >
        nodeCheckRecord = #{nodecheckrecord,jdbcType=VARCHAR},
      </if>
      <if test="belaidupstarttime != null" >
        belaidupStartTime = #{belaidupstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="inspectionreportfilename != null" >
        inspectionReportFileName = #{inspectionreportfilename,jdbcType=VARCHAR},
      </if>
      <if test="inspectionreport != null" >
        inspectionReport = #{inspectionreport,jdbcType=VARCHAR},
      </if>
      <if test="batch != null" >
        batch = #{batch,jdbcType=VARCHAR},
      </if>
      <if test="acceptancetime != null" >
        acceptanceTime = #{acceptancetime,jdbcType=TIMESTAMP},
      </if>
      <if test="inspectiondata != null" >
        inspectionData = #{inspectiondata,jdbcType=DECIMAL},
      </if>
      <if test="storagequalifiedquantity != null" >
        storageQualifiedQuantity = #{storagequalifiedquantity,jdbcType=DECIMAL},
      </if>
      <if test="storagequalifiedrate != null" >
        storageQualifiedRate = #{storagequalifiedrate,jdbcType=DECIMAL},
      </if>
      <if test="logisticstype != null" >
        logisticsType = #{logisticstype,jdbcType=VARCHAR},
      </if>
      <if test="billno != null" >
        billNo = #{billno,jdbcType=VARCHAR},
      </if>
      <if test="transporttype != null" >
        transportType = #{transporttype,jdbcType=VARCHAR},
      </if>
      <if test="invoicefilename != null" >
        invoiceFileName = #{invoicefilename,jdbcType=VARCHAR},
      </if>
      <if test="invoiceno != null" >
        invoiceNo = #{invoiceno,jdbcType=VARCHAR},
      </if>
    </set>
    where orderId = #{orderid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xinsteel.epaike.pojo.OrderInfo" >
    update orderinfo
    set orderNo = #{orderno,jdbcType=VARCHAR},
      purchaseCompanyId = #{purchasecompanyid,jdbcType=BIGINT},
      purchaseCompany = #{purchasecompany,jdbcType=VARCHAR},
      productId = #{productid,jdbcType=BIGINT},
      productName = #{productname,jdbcType=BIGINT},
      erpOrderNo = #{erporderno,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      projectNo = #{projectno,jdbcType=VARCHAR},
      projectName = #{projectname,jdbcType=VARCHAR},
      projectSchedule = #{projectschedule,jdbcType=INTEGER},
      productionState = #{productionstate,jdbcType=VARCHAR},
      productionName = #{productionname,jdbcType=VARCHAR},
      videoFileName = #{videofilename,jdbcType=VARCHAR},
      videoFileUrl = #{videofileurl,jdbcType=VARCHAR},
      contractApprovalDate = #{contractapprovaldate,jdbcType=TIMESTAMP},
      deliveryTime = #{deliverytime,jdbcType=TIMESTAMP},
      contractFileName = #{contractfilename,jdbcType=VARCHAR},
      contractImageContent = #{contractimagecontent,jdbcType=VARCHAR},
      rawMaterialTime = #{rawmaterialtime,jdbcType=TIMESTAMP},
      planBeginTime = #{planbegintime,jdbcType=TIMESTAMP},
      planEndTime = #{planendtime,jdbcType=TIMESTAMP},
      plannedStartTime = #{plannedstarttime,jdbcType=TIMESTAMP},
      plannedEndTime = #{plannedendtime,jdbcType=TIMESTAMP},
      actualStartTime = #{actualstarttime,jdbcType=TIMESTAMP},
      actualEndTime = #{actualendtime,jdbcType=TIMESTAMP},
      inspectionType = #{inspectiontype,jdbcType=VARCHAR},
      inspectionQuantity = #{inspectionquantity,jdbcType=DECIMAL},
      qualifiedQuantity = #{qualifiedquantity,jdbcType=DECIMAL},
      qualifiedRate = #{qualifiedrate,jdbcType=DECIMAL},
      nodeCheckFileName = #{nodecheckfilename,jdbcType=VARCHAR},
      nodeCheckRecord = #{nodecheckrecord,jdbcType=VARCHAR},
      belaidupStartTime = #{belaidupstarttime,jdbcType=TIMESTAMP},
      inspectionReportFileName = #{inspectionreportfilename,jdbcType=VARCHAR},
      inspectionReport = #{inspectionreport,jdbcType=VARCHAR},
      batch = #{batch,jdbcType=VARCHAR},
      acceptanceTime = #{acceptancetime,jdbcType=TIMESTAMP},
      inspectionData = #{inspectiondata,jdbcType=DECIMAL},
      storageQualifiedQuantity = #{storagequalifiedquantity,jdbcType=DECIMAL},
      storageQualifiedRate = #{storagequalifiedrate,jdbcType=DECIMAL},
      logisticsType = #{logisticstype,jdbcType=VARCHAR},
      billNo = #{billno,jdbcType=VARCHAR},
      transportType = #{transporttype,jdbcType=VARCHAR},
      invoiceFileName = #{invoicefilename,jdbcType=VARCHAR},
      invoiceNo = #{invoiceno,jdbcType=VARCHAR}
    where orderId = #{orderid,jdbcType=VARCHAR}
  </update>
  <select id="selectAllOrderInfo" resultMap="OrderInfo">
    SELECT *FROM orderinfo
  </select>

</mapper>